h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: turquoise;
    font-weight: bold;
}
body {
    background-color: thistle ;
    background-image: url("hw2background.jpg");
    background-size: cover;
}
.container {
    background-color: white 
}